<!DOCTYPE html>
<html th:lang="${language}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" data-bulma-theme="light">

<head>

	<meta charset="utf-8"/>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Directory of Open Access Books</title>

  <!-- Preconnect to DSpace -->
  <link rel="preconnect" th:href="${settings.dspace_site}" crossorigin>
  <link rel="dns-prefetch" th:href="${settings.dspace_site}">
  
  <link rel="stylesheet" th:href="@{/static-assets/css/main.min.css?v=1.0}"/>

  <link rel="icon" th:href="@{/favicon.ico}" sizes="any">

  <!-- Theme colours -->
  <meta name="theme-color" content="#111111">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#111111">

  <!-- Preload our fonts -->
  <link rel="preload" as="font" type="font/woff2"
      href="/static-assets/fonts/vremena-grotesk/vremenagroteskbook-webfont.woff2" crossorigin>
  <link rel="preload" as="font" type="font/woff2"
      href="/static-assets/fonts/happy-times-at-the-IKOB/happy-times-NG_regular_master_web.woff2" crossorigin>

</head>

<body th:classappend="${bodyClass}">
  <th:block th:insert="layout/header :: header">Header</th:block>

  <!--
    MAIN
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
  <main layout:fragment="content">

    <div class="bulma-content">

      <!-- content -->
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "fragments/header.html" at runtime.                                     -->
      <!-- ============================================================================ -->

      <h1>Static content for prototyping purposes only</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
        Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
        Phasellus et placerat elit.
      </p>
      <!-- /content -->

    </div>

  </main>

  <th:block th:insert="layout/footer :: footer">Footer</th:block>

  <!-- Splide (Carousel) -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4/dist/css/splide-core.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4/dist/js/splide.min.js"></script>

  <!-- Bluesky embed script -->
  <script type="module">
    if (!customElements.get('bsky-embed')) {
      import('/static-assets/js/bsky-embed.es.js');
    }
  </script>

  <!-- Our app scripts -->
  <script defer th:src="@{/static-assets/js/main.min.js(v=${T(java.lang.System).currentTimeMillis()})}"></script>

  <!-- Google Analytics -->
  <th:block th:insert="include/googleanalyticsscript :: script">
    Google Analytics
  </th:block>


  <!-- Jira Service Desk widget -->
	<script data-jsd-embedded data-key="f2303b3d-99ab-4a24-9e2a-60502394d55c" 
		data-base-url="https://jsd-widget.atlassian.com" 
		src="https://jsd-widget.atlassian.com/assets/embed.js">
  </script>						

  <div>					
    <style>
      iframe[name='JSD widget'] {
        right: 0; 
        margin-bottom: 0;
      }
    </style>
  </div>

</body>

</html>
