<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Fragments</title>
</head>
<body>

<div th:fragment="header">
    <h1>Thymeleaf Fragments</h1>
</div>

<!--
	Drop down submenu
~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<th:block th:fragment="section_navigation">

	<a th:text="${@translator.translate(mnusection,language).name}"
	   th:href="@{'/'+${language}+'/'+${mnusection.slug}}"
	   class="navbar-item navbar-link"
	   th:classappend="${section!=null and mnusection.id==section.id}?'is-active'">
		Navbar Item
	</a>
	
	<div class="navbar-dropdown">
		<div class="container is-fluid">
			<ul>
				<li th:each="mnutopic: ${mnusection.topics}">
					<a th:href="@{'/'+${language}+'/'+${mnusection.slug}+'/'+${mnutopic.slug}}"
					   th:text="${@translator.translate(mnutopic,language).name}"
					   class="navbar-item">
						topic name
					</a>
				</li>
			</ul>
		</div>
	</div>

</th:block>

<footer th:fragment="footer">
	<p>2020 trilobiet.nl</p>
</footer>

</body>
</html>

