<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Fragments</title>
</head>
<body>

<div th:fragment="header">
    <h1>Thymeleaf Fragments</h1>
</div>

<!--
  Drop down submenu
~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<th:block th:fragment="section_navigation">
  <a class="bulma-navbar-link bulma-has-text-weight-medium bulma-is-block bulma-is-flex bulma-is-align-items-center bulma-is-align-self-stretch bulma-pr-5"
     data-no-caret
     th:href="@{'/'+${language}+'/'+${mnusection.slug}}"
     th:text="${@translator.translate(mnusection,language).name}"
     th:classappend="${#httpServletRequest.requestURI.startsWith('/' + language + '/' + mnusection.slug)} ? ' bulma-is-active' : ''">
  </a>

  <div class="bulma-navbar-dropdown bulma-is-shadowless oa-megamenu"
       th:if="${mnusection.topics != null and !#lists.isEmpty(mnusection.topics)}">
    <ul class="bulma-columns bulma-is-multiline bulma-is-gapless">
      <li class="bulma-column bulma-is-one-quarter-desktop bulma-is-one-third-tablet bulma-is-full-mobile"
          th:each="mnutopic : ${mnusection.topics}">
        <a class="bulma-navbar-item bulma-is-shadowless bulma-has-text-weight-medium"
           th:href="@{'/'+${language}+'/'+${mnusection.slug}+'/'+${mnutopic.slug}}"
           th:text="${@translator.translate(mnutopic,language).name}"
           th:classappend="${#httpServletRequest.requestURI.startsWith('/' + language + '/' + mnusection.slug + '/' + mnutopic.slug)} ? ' bulma-is-active' : ''">
        </a>
      </li>
    </ul>
  </div>
</th:block>

<footer th:fragment="footer">
	<p>2020 trilobiet.nl</p>
</footer>

</body>
</html>
