<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="${article.title}">article title</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main layout:fragment="content" class="section doab-article doab-main" th:classappend="${article.cssClass}">

		<div class="container">
		
			<th:block th:insert="include/breadcrumbs :: breadcrumbs"/>
		
			<div class="columns">
			
				<!-- main content -->
				<div class="column is-three-quarters">

					<article th:fragment="articlefull"
						class="is-clearfix doab-article doab-primary" th:classappend="${article.cssClass}">
						
						<div class="columns">
						
							<div class="column">
	
								<div th:utext="${article.content}" class="content">
									Article content
								</div>
								
							</div>
		
							<div class="column is-one-quarter" th:if="${not #lists.isEmpty(article.media)}">

								<figure class="doab-image" th:each="media: ${@viewhelpers.images(article.media)}">
									<a data-fancybox="gallery" th:href="${media.url}">
										<img th:src="${media.url}" alt="">
									</a>
								</figure>

							</div>
							
						</div>
						
						<div>
							<th:block th:insert="include/snippets :: snippets"/>
						</div>	
	
					</article>
					
					<th:block th:insert="include/attachments :: attachments"/>
					
					<th:block th:insert="include/prevnext :: prevnext"/>
				
				</div>
			
				<!-- sidebar -->
				<div class="column">
				
					<th:block th:insert="include/currentsection :: topics"/>

					<th:block th:insert="include/relatedarticles :: linked"/>

				</div>
			
			</div>

		</div>

	</main>


</body>
</html>




