<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="${@translator.translate(section,language).name}">section name</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main layout:fragment="content" class="section doab-main" th:classappend="${bodyClass}">

		<div class="container">
		
			<th:block th:insert="include/breadcrumbs :: breadcrumbs"/>
		
			<div class="content doab-primary">

				<h1 th:text="${@translator.translate(section,language).name}">Section name</h1>

				<div th:utext="${@translator.translate(section,language).description}">
					Section description
				</div>

			</div>
			
			<div class="doab-toc content" th:if="${#lists.size(section.topics) gt 0}">

				<div class="doab-toc-header" th:text="#{this_section}">In this section</div>
				
				<hr class="is-hidden"/>

				<ul th:classappend="${#lists.size(section.topics) gt 7} ? 'doab-two-col'">
					<li th:each="topic: ${section.topics}">
						<a th:href="@{'/'+${language}+'/'+${section.slug}+'/'+${topic.slug}}" 
						   th:text="${@translator.translate(topic,language).name}">
							Topic name
						</a>
					</li>
				</ul>

			</div>

		</div>

	</main>

</body>
</html>




