<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="${@translator.translate(topic,language).name}">topic name</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main class="section doab-main" layout:fragment="content">

		<div class="container">
		
			<th:block th:insert="include/breadcrumbs :: breadcrumbs"/>
			
			<div class="content">

				<h1 th:text="${@translator.translate(topic,language).name}">
					Topic title
				</h1>
	
				<div th:utext="${@translator.translate(section,language).description}"
				     class="topic" th:classappend="${topic.cssClass}" >
	
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
					</p>
	
				</div>
			
			</div>

			<div class="doab-toc content">
	
				<div class="doab-toc-header" th:text="#{this_topic}">Contents for this topic</div>
				
				<hr class="is-hidden"/>
	
				<ul th:classappend="${#lists.size(articles) gt 7} ? 'doab-two-col'">
					<li th:each="article : ${articles}">
						<a th:if="${section}" th:href="@{'/'+${language}+'/'+${section.slug}+'/'+${topic.slug}+'/article/'+${article.slug}}" th:text="${article.title}">
							Link to article
						</a>
						<a th:if="${section==null}" th:href="@{'/'+${language}+'/article/'+${article.slug}}" th:text="${article.title}">
							Link to article
						</a>
					</li>
				</ul>
	
			</div>
			
		</div>	

	</main>

</body>
</html>




