// oa/_branding.scss
// DOAB logotype styling

.oa-logo-stack {
  display: inline-flex;
  align-items: center;
  color: inherit;

  .oa-logo {
    display: block;
    max-height: 100%;
    max-width: 100%;
    overflow: visible;
  }
}
