<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>Doabooks - Attachments</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main class="bulma-section doab-main" layout:fragment="content">

		<th:block th:fragment="attachments" th:with="attachments=${@viewhelpers.attachments(article.media)}">

			<div class="doab-attachments bulma-content" th:if="${not #lists.isEmpty(attachments)}">
			
				<div class="doab-attachments-header bulma-title bulma-is-6 bulma-has-text-weight-semibold">Files</div>
			
				<ul class="bulma-mt-3">
					<li th:each="attachment:${attachments}" class="bulma-mb-2">
						<a class="bulma-button bulma-is-light bulma-is-shadowless" data-fancybox="gallery" th:href="${attachment.url}" th:text="${attachment.name}">
							Attachment name
						</a>
					</li>
				</ul>
				
			</div>

		</th:block>

	</main>

</body>

</html>



