<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>Doabooks - Current Section</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main class="doab-main" layout:fragment="content">

		<nav class="doab-section-topics bulma-panel bulma-is-shadowless" th:fragment="topics" th:if="${section}">

			<div class="bulma-panel-heading bulma-has-text-weight-semibold"
				th:text="${@translator.translate(section,language).name}">This section</div>
			
			<ul>

				<li th:each="topic:${section?.topics}">
					<a class="bulma-panel-block"
					   th:href="@{'/'+${language}+'/'+${section.slug}+'/'+${topic.slug}}" 
					th:text="${@translator.translate(topic,language).name}">
						Topic name
					</a>
				</li>

			</ul>

		</nav>

	</main>

</body>

</html>



