<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>Doabooks - Related Articles</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main class="doab-main" layout:fragment="content">

		<nav class="doab-related-articles bulma-panel bulma-is-shadowless" th:fragment="linked" th:if="${not #lists.isEmpty(linked)}">

			<div class="bulma-panel-heading bulma-has-text-weight-semibold">Linked</div>

			<ul>

				<li th:each="article:${linked}">
					<a class="bulma-panel-block" th:href="@{'/'+${language}+'/article/'+${article.slug}}"
					   th:text="${article.title}">article title</a>
				</li>

			</ul>

		</nav>

		<nav class="doab-linked-articles bulma-panel bulma-is-shadowless" th:fragment="related" th:if="${not #lists.isEmpty(related)}">

			<div class="bulma-panel-heading bulma-has-text-weight-semibold">Related</div>

			<ul>

				<li th:each="article:${related}">
					<a class="bulma-panel-block" th:href="@{'/'+${language}+'/article/'+${article.slug}}"
					   th:text="${article.title}">article title</a>
				</li>

			</ul>

		</nav>

	</main>

</body>

</html>



