
//
// Modifications of or extensions to Bulma css
//

@media screen and (min-width: 769px) {

	.column.is-one-sixth, .column.is-one-sixth-tablet {
	    flex: none;
	    width: 16.6666%; 
	}

}

@media screen and (min-width: 769px) {

	.column.is-three-fifths, .column.is-three-fifths-tablet {
	    flex: none;
	    width: 60%; 
	}

}

.breadcrumb li {
	
	@include textfont;
	font-size: .9rem;
	overflow: hidden;
	
	a {
		display: inline-block;
		overflow: hidden;
		text-overflow: ellipsis;
		color: #444;
		&:hover {
			color: $col_contentlink;
		} 
	}		
}	
