
.footer {
	
	@include footerfont;
	color: white;
	background-color: $col_footerbg;
	border-top: solid 5px #ccc;
	
	a {
		color: white;	
	}		

	.menu-list {
		margin-bottom: 1.25rem;
		a {
			color: white;
			&:hover {
				color: #363636;
			}
		}
	}	

	.doab-ftr-header {
		color: #fff;
 		padding-bottom: .5em;
		margin-bottom: 2em;
		border-bottom: solid 1px #AAA;
		background-repeat: no-repeat;
	}
	
	.title {
		@include captionfont;
		color: #999;
	}	

	.doab-social-links {
		
		li {
			display: inline-block;	
			margin-right: 10px;
		}	
	
		i {
			color: white;
			font-size: 3em; 	
		}	
	}	

	.doab-newsletter {
		
		margin-bottom: 2rem;
	
		i {
			float: left;
			margin-right: 14px;
			color: white;
			font-size: 2.25em;
			line-height: 1.35em;	
		}	
	}	


	.doab-credits {
		
		li {
			margin: 0  0 20px 0;
			text-align: center;	
		}	
		
		img { 
			max-height: 80px;
		}		
	}	

	.doab-footer-licence,
	.doab-addresses { 
		
		p, address {
			margin: 0  0 .75rem 0;
			font-size: .875rem;
			font-style: normal;	
		}	
		
	}	
	
	.doab-footermsg {
		@include textfont; 
		opacity: .5;
	}

}	

.doab-footer-columns {

	.column { 
		border-left: solid 2px #4f4f4f;
		&:first-child {
			border: none;
		}	 	
	}		
}

