
#Header {
	margin-bottom: 3rem;	
}

.topnav {
	padding: 20px 15px;	
	
	.doab-logo {
		width: 120px;
	}

	.oa-btn-deposit {
		&, &:hover {
			background-color: orange;
			color: white;
		}		
	}	

}	

.doab-mainnav {
	box-shadow: 0px 3px 4px 1px rgba(50,50,50,0.4);
	border-bottom: solid 1px #aaa;
}	

#navbarMain {
	
	font-family: $NavbarFont;
	font-size: 110%;

	.navbar-item {
	
		padding-right: 2em;
		padding-left: 2em;
		border-style: solid;
		border-width: 0;
		border-color: #fff;
		
		&.is-active {
			border-width: 0 1px;	 	
		}
	}		
}	

