
.doab-home-hero {
	
	background-color: $slategray;
	line-height: 1;
	
	.columns:last-child {
		margin-bottom: 0;
	}	

	.column {
		padding: 2rem 3rem;	
	}	

	.title.is-1 {
		color: #fff;
		text-shadow: 3px 3px 4px #00000015;
		font-family: Nunito;
		font-weight: 200;
		font-size: 3.6rem;
		line-height: 1.2
	}	 	
		
	.title.is-3 {
		color: #fff;
		opacity: .9;	
		text-shadow: 3px 3px 4px #0001;
	}

	.doab-hero-sub {
		font-size: 1.35rem;
		color: #ffc860;
		line-height: 1.4;	
	}	

	@media screen and (min-width: 769px) {

		.column {
			padding: 3.2rem 3rem;	
		}	
	}

	@media screen and (max-width: 768px) {

		.title.is-1 {
			font-size: 2.5rem;
		}	 	
			
		.title.is-3 {
			font-size: 1.5rem;
		}	
	}
	
}

.doab-hero-search-form {
	
	min-height: 10rem;
	
	input::placeholder { 
		color: #666;
	}	

	button.is-dark {
		background-color: #1f5c80;	
	}	
	
	@media screen and (min-width: 769px) {
		
		padding-right: 5rem !important;

		&>div {
			position: relative;		
			height: 100%;	
		}
	
		.doab-hero-search-input {
			position: absolute;	
			top: 15px;
			right: 0;
		}	

		.doab-hero-search-browse {
			position: absolute;	
			bottom: 3px;
			right: 0;
			text-align: right;
		}	
	}	
}	

.doab-hero-search-browse {
	
	margin-top: 2em;
	line-height: 1.5;
	font-size: 1em;
	font-family: "Roboto";
	color: white;
	
	ul {
		display: inline;	
		white-space: nowrap;
	}	
	
	li {
		display: inline-block;
		
		&:nth-child(n+2):before {
			content: '\2022\00a0';	
		}
	
		a {
			color: white;

			&:hover {
				opacity: .85;
				text-decoration: underline;
			}		
		}	
	}

	@media screen and (min-width: 769px) {
		
		li:first-child {
			margin-left: .5em;
		}	
	}

}	

