@mixin fa-before($code, $fontsize: 1em, $gapsize: .3em, $valign: middle) {
	&::before {
		content: $code;
		font-family: $FontAwesome;
		font-size: $fontsize;
		font-style: normal;
		margin-right: $gapsize;
		vertical-align: $valign;
		// allow more properties to be set in a content block 
		@content;
	}		
}


// pre- or postfix a FontAwesome icon http://fontawesome.io/cheatsheet/
//
@mixin fa-after($code, $fontsize: 1em, $gapsize: .3em, $valign: middle) {
	&::after {
		content: $code;
		font-family: $FontAwesome;
		font-size: $fontsize;
		font-style: normal;		
		margin-left: $gapsize;
		vertical-align: $valign;
		// allow more properties to be set in a content block
		@content;
	}		
}