
//
// Css for class names entered in CMS 
//

.doab-members-overview {
	
	.content>div {
		
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		a {
			margin: 20px;
			display: block;
		}	
		
		a[target="_blank"]::after {	
			content: "";
			font-size: 0;
			margin: 0;
		}
	}
}

.doab-faq {
	
	article.doab-primary {
		
		h2 {
			color: $doaborange;
		}

		/*
		.content > *:not(div):not(h1):not(h2):not(h3):not(ul) {
			margin-left: 1em;
		}	
		
		.content > ul {
			margin-left: 3em;
		}
		*/	
		
	}
}

.doab-sponsors-overview {
	a[target='_blank']::after{
		content: '';
		font-size: 0;
		margin: 0;
	} 
}
