
@import "include/mixins";
@import "include/settings";
@import "include/settings-font";
// choose one on production:
@import "include/hero3";

.doab-home {
	background: #fff;	
}	

.doab-sidebar-right {
	.section {
		padding: 1.5rem 1rem;	
	}	
}	

.doab-home-intro {
	margin-top: 1.5em;
}	

.doab-home-showcases {
	
	margin-bottom: 2rem;	
	padding: 2rem;
	background: #f9f3f3;	

	.title {
		margin-bottom: 1rem;	
		@include h2style;
		
		a {
			color: #444; 
		}
	}	
	
	h1:not([class*='title']) {
		display: none;
	}
	
	p {
		display: inline;
	}
	
	a.doab-more {
		@include fa-before('\f0da', 1em, .15em, bottom) {font-weight: 900};
	}
	
}	

.doab-home-featured {
	
	margin-bottom: 2rem;
	
	.title {
		margin-bottom: .5rem;	
	}	
	
	.doab-col-card {
		padding-bottom: 200px;
		height: 100%;
		position: relative;
		
		a {
			color: $brown1;
			font-weight: 500;	
		}	
	}	
	
	header {
		background: #fff;
		padding: 0 0 .5rem 0;	
		span {
			font-size: 80%;
			opacity: .65;
		}	
	}	

	figure {
		position: absolute;
		bottom: 0;
		height: 200px;
		width: 100%;
		// padding: 10px;
		// background: #f3f3ff;
				
		img {
			// margin: auto;
			max-height: 100%;
			max-width: 100%;
			width: auto;
			box-shadow: 2px 2px 4px -1px rgba(50,50,50,0.25)
		}		
		
		figcaption {
			display: none;
		}
	}	
	
	.doab-missing-cover {
		
		padding: 2em 1em;
		width: 140px;
		border: solid 1px #eee; 
		background-image: url(../images/missing.png);
		background-size: cover;
		background-color:#faf9f9;
		box-shadow: 2px 2px 4px -1px rgba(50,50,50,0.15);
		
		a {
			display: block;
			height: 100%;
			background: #faf9f999;
			overflow: clip;
		}
	
		.doab-cover-title {
			display: block;
			margin: 0 0 1em 0;
			text-align: center;
			font-weight: bold;
			font-size: 80%;
			font-family: "Times New Roman", serif;
			line-height: 1.2;
			color: #555;
		}

		.doab-cover-author {
			@extend .doab-cover-title;
			font-weight: normal;
		}	

	}	 
	
}	

.doab-home-serviceof {
	
	.column {
		text-align: center;
	}	
}	



.doab-home-searchpanel {
	
	.columns {
		background: #333;
		color: white;
		border-radius: 6px 6px;
		
		.column {
			padding: 2rem;
		}	
	}

	.title {
		color: white;
	}	
	
	ul {
		column-count: 2;
	}		

	a {
		text-decoration: none !important;
		color: white;	
	}	
}	

.doab-home-spotlights, .doab-home-blogposts {
	
	img {
		width: 125px;	
		max-width: 30%; // mobile scaling
		float: left;
		margin: 0 20px 20px 0;	
	}	
		
	a {
		//color: $red;		
	}

	.doab-section-caption.title {
		margin-bottom: .75rem;
	}			

	.title {
		margin-bottom: .75rem;	
	}	
}
	
	
.doab-home-newsarchive {
	
	background: $lightsalmon;
	
	li {
		font-size: 90%;
		margin-bottom: .5em;
	}	

	.doab-news-date {
		float: left;
		opacity: .8;
		&+a {
			color: $blue2;
			display: block;
			margin-left: 6em;
			&:hover {
				color: #666;
			}	
		}	
	}	
		
}	


.doab-home-sponsors {
	
	background: #eeeef1;
	
	.column {
		text-align: center;	
	}		

	img {
		max-width: 50%;	
	}	
}	

.doab-sponsor-buttons {
	
	.button {
		border-color: transparent;
		background-color: $slategray;
		&, a { color: white;}
		margin: 1rem 2rem;	
	}	
}


.doab-faq .doab-article {

	h3 {
		margin: .5em 0;
		font-size: 1rem;
		cursor: pointer;
		color: $blue1;
		// @include fa-after('\f0da'); 
		
		& + blockquote {
			display: none;
		}
		
		&:hover {
			color: #666;
		} 
	}


	h3.expanded {
		
		@include h3style; 
		
		& + blockquote {
			display: block;
		}
	}
	
}	

	 	
