
@import "include/settings";
@import "include/settings-font";
@import "../bulma-0.8.0/bulma.sass";
@import "include/mixins";

@import "include/bulmaextensions"; 

/* import own dependencies 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
//@import "variables";
@import "include/layout";  
@import "include/header";
@import "include/footer";
@import "include/content"; 

// Content editor styles (class names entered in Cms)
@import "include/userstyles"; 
