<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.thymeleaf.org"
	  style="height:100%">

<head>

	<meta charset="utf-8"/>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Doabooks Error</title>
	<link rel="stylesheet" th:href="@{/static-assets/css/styles.css?v=1.06}"/>
	<link rel="stylesheet" th:href="@{/static-assets/css/contenttypes.css?v=1.06}"/>
	
	<link rel="stylesheet" th:href="@{/static-assets/fontawesome-pro-5.12.1-web/css/all.min.css?v=1.06}"/>
	<link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
	<link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon">	

</head>

<!--/* Stand alone error template - no layout applied because the error may originate from there */-->

<body class="doab-error-page">

	<main class="section">
	
		<div class="container content">
			<a th:href="@{'/'}">
				<img th:src="@{/static-assets/images/layout/doab.png}" alt="Logo Doabooks" class="doab-logo">
			</a>
			
			<div class="container content" layout:fragment="content">
				Put your error here
			</div>
			
		</div>
		
		<div class="container content">
			<a th:href="@{/}" class="button is-info is-rounded">
				<span class="icon">
					<i class="fas fa-home"></i>
				</span>
				<span>Go to the home page</span>
			</a>
		</div>
		
	</main>
	
</body>

</html>

