
.intro {
}	 

.title, .title a {
	@extend %hx;
	color: $blue2;
	line-height: 1.325;
}

.content {
	
	@include textfont;
	
	// some full out written links may cross the border...
	overflow: clip; // overflow-x:hidden creates a vertical scrollbar!
	a {
		overflow-wrap: anywhere;		
		color: $col_contentlink;
		&:visited {
			color: $col_contentlinkvisited;
		}	
	}	
	
	p, h1, h2, h3, h4, h5, h6, blockquote {
		max-width: 55rem;	
	}

	pre {
		max-width: 55rem;
		overflow: scroll;	
	}

	ul, ol {
		max-width: 53rem;
		@media screen and (max-width: 768px) {
			margin-left: 1em;
		}		
	}

	hr {
		background-color: #ccc;
		height: 1px;
	}	
	
	/*.chapeau, &>p:first-of-type {
		font-size: 1.35em;
	} */		
	
	h1, h2, h3, h4, h5, h6 {
		line-height: 1.5;
		a { word-break: break-word; }
	}	

	h1 { @include h1style; }	
	h2 { @include h2style {border-bottom: solid 1px #999;padding-bottom:.15em;} }	
	h3 { @include h3style; }	
	h4 { @include h4style; }	
	h5 { @include h5style; }	
	h6 { @include h6style; }	

	a[target="_blank"] { 
		@include fa-after('\f08e', .85em);
	} 

	h1, .title {
		@extend %hx;
		color: $col_contenttitle;
		line-height: 1.325;
	}
	
}

.doab-section-caption {
	
	padding-bottom: .5em;
	border-bottom: solid 1px #ccc;
	@include captionfont {
		color: #999;
	}	
	
	&.title {
		font-size: .9rem;	
	}
}

.doab-primary {
	
}	

.doab-toc {
	
	padding: 2rem;
	background-color: $col_tocbg; 
	
	.doab-toc-header {
		@include h3style;
	}	

	.doab-two-col {
		column-count: 2;
		column-width: 20em;	
	}	

	a {
		color: $col_toclink;	
		&:visited {
			color: $col_toclinkvisited;
		}
	}	
}	

.doab-summary {
}	


.doab-article {
	
	margin-bottom: 1rem;

	&:nth-of-type(n+2) {

		// in a(n aggregated) list of articles, subsequent article headers 
		// are scaled one step down
		h1 { @include h2style; }
		h1 { @include h3style; }
		h1 { @include h4style; }
		h1 { @include h5style; }
		h1 { @include h6style; }
		h1 { @include h6style; }	
	}	
	
	.column:empty {
		display: none;	
	}			
}


.doab-linked-articles,
.doab-related-articles,
.doab-section-topics { 
	
	ul {
		margin: 1em 0;
		font-size: 95%;
	}
	
	li {
		line-height: 1.2;
		margin-bottom: .5em;;
	}

	a {
		color: $col_contentlink;	
		&:visited {
			color: $col_contentlinkvisited;
		}	
	}	
}	

.doab-attachments {
	
	background: #999;
	padding: 1rem 2rem;
	color: white;
	
	.doab-attachments-header {
		@include h3style;
	}	
	
	a {
		color: white; 
	}	

	ul {
		margin: 1.5em 0;
		padding: 0 1em;
		
		li {
			margin: 1em 0;	
		}	
	}

	.is-title {
		color: white;
	}	
}

.doab-snippets {

	iframe {
		width: 100%;	
	}		

	/* height sizing is handled by script */

}	


.doab-prevnext {
	
	display: flex; 
	justify-content: space-between; 
	margin: 1rem 0;
	font-size: 95%;

	.doab-prevarticle {
		margin-right: .5em;
		min-width: 40%;
		text-align: left;
		@include fa-before('\f104', $valign:baseline);
	}
	.doab-nextarticle {
		margin-left: .5em;
		min-width: 40%;
		text-align: right;
		@include fa-after('\f105', $valign:baseline);
	}
	
}


.doab-blogpost {
	
	.doab-date {
		opacity: .8;
		font-size: 80%;
		font-weight: bolder;
		text-transform: uppercase;
	}

	.doab-blogpost-hbar {
		
		font-size: 90%;
		padding: .5em 1em;
		background: #dfdfdf;
		
		a {
			color: #444;
		}	
		img {
			vertical-align: middle;
		}	
				
	}	
}	

.doab-hypotheses-items {
	
	ul {
		margin: 1em 0;	
	}	

	li {
		margin: 0 0 1em 0;
		padding: 0 0 1em 0;
		border-bottom: solid 1px #eee;	
	}	

	.doab-blogpost-title {
		font-size: 1.15rem;
	}	 
		
	.doab-blogpost-description {
		font-size: 95%;
	}	

	.doab-date {
		opacity: .6;
		font-size: 80%;
		font-weight: bolder;
		text-transform: uppercase;
	}		
	
}	

.doab-table-wrapper {
	
	margin: 1em 0 2em 0;
	
	/* Do NOT remove media query: this doesn't work
	for flex layouts, so can only be used on the small mobile layout
	(usually the only place where it is needed too).*/  
	@media screen and (max-width: 768px) { 
	
		overflow-x: auto;
		
		table td {
			min-width: 15em;
		}
	}		
}	

.doab-table-swipe {

	display: none;
	font-size: 85%;
	background: #f4f4f4;
	white-space: nowrap;
	@include fa-before('\f177', 1em, .15em, bottom) {};
	@include fa-after('\f178', 1em, .15em, bottom) {};

	@media screen and (max-width: 768px) {
		display: block;
		text-align: center;
	}		
}




	