.doab-home-hero1 {
	
	margin-top: -3rem;
	margin-bottom: 3rem;
	background-color: $darkblue;
	
	// @include background-image(linear-gradient(left, rgb(11, 98, 157) 0%, rgb(10, 62, 98) 100%)); 
	@include background-image(linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .25) 100% ));
	padding-top: 1rem;
	padding-bottom: 1rem;
	
	.title {
		color: white;
		text-shadow: 3px 3px 8px #0003;	
	}	
	
	.title.is-3 {
		opacity: .95;
		color: white;
		text-shadow: 2px 2px 4px #0002;	
	}
}
