.doab-home-hero0 {
	
	margin-top: -3rem;
	background-color: $red1;
	// @include background-image(linear-gradient(left, rgb(11, 98, 157) 0%, rgb(10, 62, 98) 100%)); 
	@include background-image(linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .6) 100% ));
	padding-top: 2rem;
	padding-bottom: 2rem;
	
	.title {
		color: white;
		text-shadow: 3px 3px 8px #0004;	
	}	
	
	.title.is-3 {
		opacity: .95;
		color: #eee;
		text-shadow: 2px 2px 4px #0003;	
	}
}
