<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="${article.title}">article title</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main layout:fragment="content" class="bulma-section" th:classappend="${article.cssClass}">
		<div class="bulma-container">

			<th:block th:insert="include/breadcrumbs :: breadcrumbs"/>

			<div class="bulma-columns">
				<!-- Left: main content -->
				<div class="bulma-column bulma-is-three-quarters">

					<article class="bulma-block"
									th:fragment="articlefull"
									th:classappend="${article.cssClass}">
						<div class="bulma-columns">
							<div class="bulma-column bulma-is-12-mobile bulma-is-9-tablet">
								<div th:utext="${article.content}" class="bulma-content bulma-is-size-5 bulma-mb-6">
									Article content
								</div>
							</div>

							<div class="bulma-column bulma-is-12-mobile bulma-is-3-tablet"
									th:if="${not #lists.isEmpty(article.media)}">
								<figure th:each="media: ${@viewhelpers.images(article.media)}">
									<img th:src="${media.url}" alt="">
								</figure>
							</div>
						</div>

						<div>
							<th:block th:insert="include/snippets :: snippets"/>
						</div>
					</article>

					<th:block th:insert="include/attachments :: attachments"/>
					<th:block th:insert="include/prevnext :: prevnext"/>

				</div>

				<!-- Right: sidebar -->
				<aside class="bulma-column" aria-labelledby="sidenav-title">
					<th:block th:insert="include/currentsection :: topics"/>
					<th:block th:insert="include/relatedarticles :: linked"/>
				</aside>
			</div>

		</div>
	</main>


</body>
</html>



