<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="#{blog}">Blog</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main layout:fragment="content" class="section doab-blog doab-main">
	
		<div class="container">
		
			<nav class="breadcrumb" th:aria-label="#{breadcrumbs}">
				<ul>
					<li>
						<a th:href="@{'/'}" th:text="#{home}">Home</a>
					</li>
					<li class="is-active">
						<a href="#" aria-current="page" th:text="#{blog}">Blog</a>
					</li>
				</ul>
			</nav>
		
			<div class="columns">
			
				<!-- main content left -->
				<div class="column is-three-quarters">
				
					<p th:if="${featuredPost==null}" th:text="#{no_articles}">Nothing here yet...</p>

					<article th:if="${featuredPost}"
						class="is-clearfix doab-blogpost">
						
						<div class="doab-primary content">
						
							<h1 th:text="${featuredPost.title}">Blog Title</h1>
							
							<h3 th:text="${featuredPost.author}">Author</h3>
							<p class="doab-date">
								<strong th:text="${#temporals.format(featuredPost.publicationDate,'E dd MMM yyyy')}">Publication Date</strong>
							</p>	
							
							<div class="doab-blogpost-hbar">
								<span th:text="#{read_this_article_at}">Read this article at</span>
								<a th:href="${featuredPost.link}" target="_blank">
									<img th:src="@{/static-assets/images/logo-hypotheses.png}" alt="hypothèses.org" width="100"/>
								</a>
							</div>
							
							<hr/>
						
							<p th:utext="${featuredPost.contents}">
								Blog Post
							</p>
						
						</div>
	
					</article>
				
				</div>
			
				<!-- sidebar right -->
				<div class="column">
				
					<th:block th:insert="include/blogposts :: hypotheses"/>
				
				</div>
			
			</div>

		</div>

	</main>

</body>
</html>


