<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>Directory of Open Access Books</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	<main layout:fragment="content" class="bulma-has-background-paper bulma-pb-0">

		<!-- Hero (tagline + featured titles + search) -->
		<th:block th:insert="home/hero :: hero">Hero</th:block>

		<!-- Feed (Spotlights + Blog) -->
		<th:block th:insert="home/feed :: feed">Newsfeed</th:block>

		<!-- Showcases -->
		<th:block th:insert="home/showcases :: showcases">Showcases</th:block>

		<!-- Highlights -->
		<th:block th:insert="home/highlights :: highlights">Highlights</th:block>
		
		<!-- Newsletter sign-up -->
		<th:block th:insert="home/newsletter :: newsletter">Newsletter</th:block>

		<!-- Sponsors -->
		<th:block th:insert="home/sponsors :: sponsors">Sponsors</th:block>

		<span th:text="${ip}" style="display:none">your ip</span>

	</main>

</body>
</html>
