<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="${@translator.translate(topic,language).name}">topic name</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main layout:fragment="content" class="bulma-section" th:classappend="${topic.cssClass}">
	
		<div class="bulma-container">
		
			<th:block th:insert="include/breadcrumbs :: breadcrumbs"/>
		
			<div class="bulma-columns">
			
				<!-- Left: main content -->
				<div class="bulma-column bulma-is-three-quarters">
				
					<p th:if="${#lists.isEmpty(articles)}" th:text="#{no_articles}">Nothing here yet...</p>

					<th:block th:each="article: ${articles}"> 

						<article 
							class="bulma-block" th:classappend="${article.cssClass}">
							
							<div class="bulma-columns">
							
								<div class="bulma-column bulma-is-12-mobile bulma-is-9-tablet">
		
									<div th:utext="${article.content}" class="bulma-content bulma-is-size-5 bulma-mb-6">
										Article content
									</div>
									
								</div>
			
								<div class="bulma-column bulma-is-12-mobile bulma-is-3-tablet" th:if="${not #lists.isEmpty(article.media)}">
	
									<figure class="bulma-image" th:each="media: ${@viewhelpers.images(article.media)}">
										<img th:src="${media.url}" alt="" class="bulma-is-rounded">
									</figure>
	
								</div>
								
							</div>
							
							<th:block th:insert="include/snippets :: snippets"/>
		
						</article>
						
						<th:block th:insert="include/attachments :: attachments"/>
						
					</th:block>	
					
				</div>
			
				<!-- Right: sidebar -->
				<aside class="bulma-column" aria-labelledby="sidenav-title">
				
					<nav class="bulma-panel bulma-is-shadowless" th:if="${section}">
						<header class="bulma-level bulma-is-mobile bulma-pb-2 oa-section-header">
							<div class="bulma-level-left">
								<h2 class="bulma-title bulma-is-6 bulma-pb-4 bulma-has-text-weight-semibold" th:text="${@translator.translate(section,language).name}">
									Section name
								</h2>
							</div>
						</header>
						<a th:each="t : ${section.topics}" class="bulma-panel-block"
							th:href="@{'/'+${language}+'/'+${section.slug}+'/'+${t.slug}}">
							<span th:text="${@translator.translate(t,language).name}">Topic name</span>
						</a>
					</nav>

					<th:block th:insert="include/relatedarticles :: linked"/>

					<th:block th:insert="include/relatedarticles :: related"/>
				
				</aside>
			
			</div>

		</div>

	</main>

</body>
</html>



