<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="${@translator.translate(topic,language).name}">topic name</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main layout:fragment="content" class="bulma-section" th:classappend="${topic.cssClass}">
	
		<div class="bulma-container">
		
			<th:block th:insert="include/breadcrumbs :: breadcrumbs"/>
		
			<div class="bulma-columns">
			
				<!-- Left: main content -->
				<div class="bulma-column bulma-is-three-quarters">
				
					<p th:if="${#lists.isEmpty(articles)}" th:text="#{no_articles}">Nothing here yet...</p>

					<th:block th:if="${firstarticle}"> 

						<article 
							class="bulma-block" th:classappend="${firstarticle.cssClass}">
							
							<div class="bulma-columns">
							
								<div class="bulma-column bulma-is-12-mobile bulma-is-9-tablet">
		
									<div th:utext="${firstarticle.content}" class="bulma-content bulma-is-size-5 bulma-mb-6">
										Article content
									</div>
									
								</div>
			
								<div class="bulma-column bulma-is-12-mobile bulma-is-3-tablet" th:if="${not #lists.isEmpty(firstarticle.media)}">
	
									<figure th:each="media: ${@viewhelpers.images(firstarticle.media)}">
										<img th:src="${media.url}" alt="">
									</figure>
	
								</div>
								
							</div>
							
							<th:block th:insert="include/snippets :: snippets" th:with="article=${firstarticle}" />
		
						</article>
						
						<th:block th:insert="include/attachments :: attachments" th:with="article=${firstarticle}" />
						
					</th:block>	
					
					<!-- Titles list (skip first) -->
					<aside th:if="${#lists.size(articles) gt 1}">
			
						<nav class="bulma-panel bulma-is-shadowless">
			
							<div class="doab-toc-header bulma-panel-heading bulma-has-text-weight-semibold" th:text="#{this_topic}">In this topic</div>
							
							<a th:each="article, iStat : ${articles}" th:if="${iStat.index gt 0}"
								th:href="@{'/'+${language}+'/'+${section.slug}+'/'+${topic.slug}+'/article/'+${article.slug}}"
								class="bulma-panel-block bulma-is-justify-content-space-between bulma-is-align-items-center">
								<span th:text="${article.title}">Link to article</span>
								<span class="bulma-icon" aria-hidden="true">
									<svg width="16" height="16" viewBox="0 0 24 24" focusable="false">
										<path d="M9 18l6-6-6-6" fill="none" stroke="currentColor" stroke-width="2"
													stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								</span>
							</a>
			
						</nav>
			
					</aside>
				
				</div>
			
				<!-- Right: sidebar -->
				<aside class="bulma-column" aria-labelledby="sidenav-title">
				
					<nav class="bulma-panel bulma-is-shadowless" th:if="${section}">
						<header class="bulma-level bulma-is-mobile bulma-pb-2 oa-section-header">
							<div class="bulma-level-left">
								<h2
									id="sidenav-title"
									class="bulma-title bulma-is-6 bulma-pb-4 bulma-has-text-weight-semibold"
									th:text="${@translator.translate(section,language).name}">
									Section name
								</h2>
							</div>
						</header>

						<a th:each="t : ${section?.topics}"
							th:href="@{'/'+${language}+'/'+${section?.slug}+'/'+${t.slug}}"
							class="bulma-panel-block">
							<span th:text="${@translator.translate(t,language).name}">Topic name</span>
						</a>
					</nav>

					<th:block th:insert="include/relatedarticles :: linked"/>

					<th:block th:insert="include/relatedarticles :: related"/>
				
				</aside>
			
			</div>

		</div>

	</main>

</body>
</html>



