<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="${@translator.translate(topic,language).name}">topic name</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main layout:fragment="content" class="section doab-topic doab-main" th:classappend="${topic.cssClass}">

		<div class="container">
		
			<th:block th:insert="include/breadcrumbs :: breadcrumbs"/>
		
			<div class="columns">
			
				<!-- main content -->
				<div class="column is-three-quarters"> 
				
					<div class="content doab-primary">

						<h1 th:text="${@translator.translate(topic,language).name}" >
							Topic title
						</h1>
		
						<div th:utext="${topic.description}"
						     class="topic" th:classappend="${topic.cssClass}">
		
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
								Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
								Phasellus et placerat elit.
							</p>
		
						</div>
						
					</div>	
					
					<div class="doab-summaries">
					
						<article th:each="article: ${articles}" class="content doab-summary">
			
							<h2 th:text="${article.title}">
								Article title
							</h2>
			
							<div th:utext="${article.summary}">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
								Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
								Phasellus et placerat elit.
							</div>
			
							<p>
								<a th:href="@{'/'+${language}+'/'+${section.slug}+'/article/'+${article.slug}}"
								   th:text="#{read_more}">
									Read more
								</a>
							</p>
			
						</article>
						
					</div>	
					
				</div>	
					
				<!-- sidebar -->
				<div class="column">
				
					<th:block th:insert="include/currentsection :: topics"/>
				
				</div>

			</div>
			
		</div>	

	</main>

</body>
</html>




