<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="${@translator.translate(topic,language).name}">topic name</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main layout:fragment="content" class="section doab-topic doab-main" th:classappend="${topic.cssClass}">
	
		<div class="container">
		
			<th:block th:insert="include/breadcrumbs :: breadcrumbs"/>
		
			<div class="columns">
			
				<!-- main content left -->
				<div class="column is-three-quarters">
				
					<p th:if="${#lists.isEmpty(articles)}" th:text="#{no_articles}">Nothing here yet...</p>

					<th:block th:if="${firstarticle}"> 

						<article 
							class="is-clearfix doab-article doab-primary" th:classappend="${firstarticle.cssClass}">
							
							<div class="columns">
							
								<div class="column">
		
									<div th:utext="${firstarticle.content}" class="content">
										Article content
									</div>
									
								</div>
			
								<div class="column is-one-quarter" th:if="${not #lists.isEmpty(firstarticle.media)}">
	
									<figure class="doab-image" th:each="media: ${@viewhelpers.images(firstarticle.media)}">
										<a data-fancybox="gallery" th:href="${media.url}">
											<img th:src="${media.url}" alt="">
										</a>
									</figure>
	
								</div>
								
							</div>
							
							<th:block th:insert="include/snippets :: snippets" th:with="article=${firstarticle}" />
		
						</article>
						
						<th:block th:insert="include/attachments :: attachments" th:with="article=${firstarticle}" />
						
					</th:block>	
					
					<aside th:if="${#lists.size(articles) gt 1}">
			
						<div class="container content doab-toc">
			
							<div class="doab-toc-header" th:text="#{this_topic}">In this topic</div>
							
							<hr class="is-hidden"/>
			
							<ul th:classappend="${#lists.size(articles) gt 7} ? 'doab-two-col'">
								<li th:each="article, iStat : ${articles}" th:if="${iStat.index gt 0}">
									<a th:href="@{'/'+${language}+'/'+${section.slug}+'/'+${topic.slug}+'/article/'+${article.slug}}" th:text="${article.title}">
										Link to article
									</a>
								</li>
							</ul>
			
						</div>
			
					</aside>
				
				</div>
			
				<!-- sidebar right -->
				<div class="column">
				
					<th:block th:insert="include/currentsection :: topics"/>

					<th:block th:insert="include/relatedarticles :: linked"/>

					<th:block th:insert="include/relatedarticles :: related"/>
				
				</div>
			
			</div>

		</div>

	</main>

</body>
</html>




