<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Fragments</title>
</head>
<body>

<div th:fragment="header">
    <h1>Thymeleaf Fragments</h1>
</div>

<!--
	Blogposts (Hypotheses)
~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<th:block th:fragment="blogposts"
          th:with="
            items=${rssHypothesesItems},
            blogCount=${items != null ? T(java.lang.Math).min(items.size(), 2) : 0},
            blogItems=${items != null ? items.subList(0, blogCount) : T(java.util.Collections).emptyList()}
          ">
  <li class="bulma-column bulma-is-full-mobile bulma-is-half-tablet bulma-is-one-third-desktop bulma-is-flex"
       th:each="blogPost : ${blogItems}">
    <th:block th:insert="~{home/feed_card :: card(
      title=${blogPost.title},
      url=${blogPost.link},
      summary=${@viewhelpers.abbreviate(blogPost.description, 220)},
      category=#{blogpost}
    )}"></th:block>
  </li>
</th:block>

<footer th:fragment="footer">
	<p>2020 trilobiet.nl</p>
</footer>

</body>
</html>
