<!--
	Funder Logos 
	(DSpace Collections)
~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<th:block th:fragment="funders">
	<section class="bulma-section bulma-pb-0 oa-collections">
		<div class="bulma-container">
			<header class="bulma-mb-4 oa-section-header">
				<h2 class="bulma-title bulma-is-4  bulma-pb-4 bulma-mb-0 bulma-has-text-weight-normal">
					Our funders’ collections
				</h2>
			</header>
			

			<ul class="bulma-columns bulma-is-mobile bulma-is-multiline bulma-is-variable bulma-is-1 bulma-is-centered" role="list">
				<li class="bulma-column bulma-is-half-mobile bulma-is-one-third-tablet bulma-is-one-fifth-desktop"
						th:each="funder : ${funders}" role="listitem">
					<a class="oa-logo-link" th:href="@{'/topic/' + ${funder.slug}}">
						<figure class="bulma-image bulma-has-background-paper oa-logo-box oa-h-50">
							<img th:src="${funderlogos[funder.id]}" th:alt="${'Logo ' + funder.name}" loading="lazy" decoding="async"/>
							<figcaption class="bulma-is-sr-only" th:text="${funder.name}">Funder name</figcaption>
						</figure>
					</a>
				</li>
			</ul>
		</div>
	</section>
</th:block>