<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Fragments</title>
</head>
<body>

<div th:fragment="header">
    <h1>Thymeleaf Fragments</h1>
</div>

<!--
	Showcases
~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<th:block th:fragment="showcases">

	<div class="bulma-title bulma-is-6 oapen-section-caption bulma-is-hidden">Showcase</div>
	
	<hr class="bulma-is-hidden"/>

	<div class="bulma-columns bulma-is-multiline bulma-is-desktop">

		<div class="bulma-column bulma-is-half-desktop oapen-home-showcase" th:each="article: ${showcases}" th:classappend="${article.cssClass}">

			<div>
				<h2 class="bulma-title bulma-is-5">
					<a th:href="@{'/'+${language}+'/article/'+${article.slug}}" th:text="${article.title}">
						Showcase title
					</a>
				</h2>
				<th:block th:utext="${article.summary}">
					Showcase dummy text
				</th:block>
			</div>

		</div>

	</div>

</th:block>

<footer th:fragment="footer">
	<p>2020 trilobiet.nl</p>
</footer>

</body>
</html>
