<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Fragments</title>
</head>
<body>

<div th:fragment="header">
    <h1>Thymeleaf Fragments</h1>
</div>

<!--
	Social Media
~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<th:block th:fragment="socialmedia">

	<div class="bulma-title bulma-is-6 oapen-section-caption">Social media</div>
	
	<hr class="bulma-is-hidden"/>

	<!-- twitter timeline -->
	<th:block th:utext="${twittertimeline.code}"></th:block>

</th:block>

<footer th:fragment="footer">
	<p>2020 trilobiet.nl</p>
</footer>

</body>
</html>

