<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Fragments</title>
</head>
<body>

<div th:fragment="header">
    <h1>Thymeleaf Fragments</h1>
</div>

<!--
	Social media (Twitter)
	
	[Template no longer 
	in use 2025/07] 
~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<th:block th:fragment="socialmedia">

	<div class="title is-6 doab-section-caption" th:text="#{social_media}">Social media</div>
	
	<hr class="is-hidden"/>

	<!-- twitter timeline -->
	<th:block th:utext="${twittertimeline.code}"></th:block>

</th:block>

<footer th:fragment="footer">
	<p>2020 trilobiet.nl</p>
</footer>

</body>
</html>

