<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Fragments</title>
</head>
<body>

<div th:fragment="header">
    <h1>DOAB is sponsoredby</h1>
</div>

<!--
	Sponsored by
~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<th:block th:fragment="sponsors">

	<div class="title doab-section-caption" th:text="#{doab_is_sponsored_by}">DOAB is proudly sponsored by:</div>
	
	<div class="columns">
	
		<div class="column">
			<a href="http://www.springeropen.com/books" target="_blank">
			<img class="sponsorImg" th:src="@{/static-assets/images/sn.png}" title="Springer is a sponsor of DOAB"></a>
		</div>
		
		<div class="column">
			<a href="https://www.degruyter.com/" target="_blank">
			<img class="sponsorImg" th:src="@{/static-assets/images/degruyter.png}" title="De Gruyter is a sponsor of DOAB"></a>
		</div>
		
		<div class="column">
			<a href="https://www.enseignementsup-recherche.gouv.fr/pid24578/investissements-d-avenir.html" target="_blank">
			<img class="sponsorImg" th:src="@{/static-assets/images/investirlavenir.png}" title="Programme Investissements d'Avenir"></a>
		</div>	
	
	</div>
	
	<div class="columns is-centered doab-sponsor-buttons">
	
		<div class="column">
		
			<div class="button is-rounded">
				<a th:href="@{'/'+${language}+'/supporters'}" th:text="#{our_supporters}">our supporters</a>
				<span class="icon is-small">
					<i class="fas fa-caret-circle-right" aria-hidden="true"></i>
				</span>
			</div>

		</div>
		
	</div>

</th:block>

<footer th:fragment="footer">
	<p>2020 trilobiet.nl</p>
</footer>

</body>
</html>


