<!--
  Toolkit CTA
~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<th:block th:fragment="toolkit">
  <section class="bulma-hero bulma-is-halfheight bulma-container bulma-has-background-brand bulma-has-text-paper">
		<div class="bulma-hero-body bulma-is-align-items-center">
      <div class="bulma-columns bulma-is-vcentered bulma-is-variable bulma-is-5">

        <!-- Heading -->
        <div class="bulma-column bulma-is-two-fifths">
          <header class="bulma-mb-3 oa-section-header">
            <p class="bulma-title bulma-has-text-weight-semibold bulma-is-6 bulma-mb-2">OAPEN presents the</p>
            <h2 class="bulma-title bulma-is-1 bulma-mb-3 bulma-is-block bulma-has-text-weight-bold">OA Books Toolkit</h2>
          </header>
        </div>

        <!-- Copy + CTA -->
        <div class="bulma-column">
          <h3 class="bulma-title bulma-is-4 bulma-mb-3 bulma-has-text-weight-normal">For authors</h3>
          <div class="bulma-is-size-4">
            <p class="bulma-mb-5">
              The Toolkit offers clear guidance on open access (OA) book publishing for researchers and authors, and supports policy makers in shaping effective OA policies for books.
            </p>
            <p>
              <a th:href="${toolkitUrl}" class="bulma-button" target="_blank" rel="noopener">Go to the Toolkit &rarr;</a>
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>
</th:block>
