<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>OApen web - Related Articles</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main class="section doab-main" layout:fragment="content">

		<th:block th:fragment="prevnext" th:if="${article.prevArticle !=null || article.nextArticle != null}">
		
			<nav class="doab-prevnext content">
				
				<a class="doab-prevarticle"
				   th:if="${article.prevArticle != null && article.prevArticle.publish}" 
				   th:href="@{'/'+${language}+'/'+${sectionprefix}+'/'+${article.prevArticle.slug}}" 
				   th:text="${article.prevArticle.title}">
				   <i class="fas fa-angle-left">&nbsp;previous&nbsp;article</i>
				</a> 	
				<a class="doab-nextarticle" 
				   th:if="${article.nextArticle != null && article.nextArticle.publish}"
				   th:href="@{'/'+${language}+'/'+${sectionprefix}+'/'+${article.nextArticle.slug}}" 
				   th:text="${article.nextArticle.title}">
				   <i class="fas fa-angle-right">next&nbsp;article&nbsp;</i>
				</a>

			</nav>

		</th:block>

	</main>

</body>

</html>




