<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>Doabooks - Related Articles</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main class="doab-main" layout:fragment="content">

		<nav class="doab-related-articles" th:fragment="linked" th:if="${not #lists.isEmpty(linked)}">

			<div class="is-title is-5 doab-section-caption">Linked</div>
			
			<hr class="is-hidden"/>

			<ul>

				<li th:each="article:${linked}">
					<a th:href="@{${language}+'/article/'+${article.slug}}"
					   th:text="${article.title}">article title</a>
				</li>

			</ul>

		</nav>

		<nav class="doab-linked-articles" th:fragment="related" th:if="${not #lists.isEmpty(related)}">

			<div class="is-title is-5 doab-section-caption">Related</div>
			
			<hr class="is-hidden"/>

			<ul>

				<li th:each="article:${related}">
					<a th:href="@{${language}+'/article/'+${article.slug}}"
					   th:text="${article.title}">article title</a>
				</li>

			</ul>

		</nav>

	</main>

</body>

</html>




