<!doctype html>
<html layout:decorate="~{layout/main}"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title>Doabooks - Snippets</title>
</head>

<body>

	<!--
		BODY
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<main class="doab-main" layout:fragment="content">

		<aside class="doab-snippets" th:fragment="snippets" th:if="${not #lists.isEmpty(article.snippets)}">

			<div th:each="snippet:${article.snippets}" class="doab-snippet" th:classappend="'doab-'+${snippet.name}"
				th:utext="${snippet.code}">
				Snippet
			</div>

		</aside>

	</main>

</body>

</html>




